---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import CallToAction2 from '../components/CallToAction2.astro';
import Blog from '../components/Blog.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welkom bij Prima Plek">
	<main class="space-y-40 mb-20">
		<Container>
			<section id="algemene-voorwaarden" class="py-20 text-white">
					<h1>Algemene Voorwaarden</h1>
					<p>Welkom bij Prima Plek! Door gebruik te maken van onze software stemt u in met deze algemene voorwaarden.</p>
			
					<h2>1. Definities</h2>
					<p>In deze algemene voorwaarden wordt verstaan onder:</p>
					<ul>
							<li><strong>Software:</strong> het online reserveringssysteem aangeboden door Prima Plek.</li>
							<li><strong>Licentiehouder:</strong> de persoon of organisatie die een licentie heeft voor het gebruik van de Software.</li>
							<li><strong>Bezoeker:</strong> de gebruiker die een reservering maakt via de Software.</li>
					</ul>
			
					<h2>2. Gebruik van de Software</h2>
					<p>De Software wordt aangeboden "as-is" en zonder garanties van welke aard dan ook. Hoewel wij ons best doen om een betrouwbare dienst te bieden, kunnen wij niet garanderen dat de Software altijd foutloos werkt of ononderbroken beschikbaar is.</p>
			
					<h2>3. Aansprakelijkheid</h2>
					<ul>
							<li>Wij zijn niet aansprakelijk voor enige directe of indirecte schade als gevolg van:</li>
							<ul>
									<li>Verkeerde of foutieve reserveringen.</li>
									<li>Technische storingen of onderbrekingen van de Software.</li>
									<li>Niet-nagekomen reserveringen door bezoekers.</li>
							</ul>
							<li>De Licentiehouder is verantwoordelijk voor het correct gebruik van de Software en voor het communiceren van reserveringsvoorwaarden aan bezoekers.</li>
					</ul>
			
					<h2>4. Wijzigingen in de Software</h2>
					<p>Prima Plek behoudt zich het recht voor om de Software op elk moment te wijzigen, verbeteren of tijdelijk te onderbreken voor onderhoud.</p>
			
					<h2>5. Toepasselijk Recht</h2>
					<p>Op deze algemene voorwaarden is uitsluitend Nederlands recht van toepassing. Eventuele geschillen worden voorgelegd aan de bevoegde rechter in Nederland.</p>
			</section>
		</Container>
	</main>
</Layout>