---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import CallToAction2 from '../components/CallToAction2.astro';
import Blog from '../components/Blog.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welkom bij Prima Plek">
	<main class="space-y-40 mb-20">
		<div class="flex items-center justify-center text-white flex-col gap-5" style="min-height: 50dvh;">
			<h1 class="font-heading text-3xl font-bold">Demo</h1>

			<p>Demo omgeving is binnenkort beschikbaar...</p>
		</div>
	</main>
</Layout>