---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import CallToAction2 from '../components/CallToAction2.astro';
import Blog from '../components/Blog.astro';
import Container from '../components/Container.astro';
---

<Layout title="Welkom bij Prima Plek">
	<main class="space-y-40 mb-20">
		<Container>
			<section id="privacy-policy" class="py-20 text-white prose prose-headings:text-white prose-strong:text-white prose-a:text-white">
				<h1>Privacyverklaring</h1>
				<p>Uw privacy is belangrijk voor ons. In deze privacyverklaring leggen wij uit welke gegevens wij verzamelen, waarom wij deze gegevens verzamelen en hoe wij ermee omgaan.</p>
		
				<h2>1. Verzamelde Gegevens</h2>
				<p>Wij verzamelen de volgende persoonsgegevens:</p>
				<ul>
						<li>Naam en contactgegevens (zoals e-mailadres en telefoonnummer).</li>
						<li>Gegevens met betrekking tot reserveringen (zoals datum, tijd en locatie).</li>
						<li>Technische gegevens zoals IP-adressen en browserinformatie.</li>
				</ul>
		
				<h2>2. Doeleinden van Verwerking</h2>
				<p>De gegevens worden uitsluitend gebruikt voor de volgende doeleinden:</p>
				<ul>
						<li>Het faciliteren en beheren van reserveringen.</li>
						<li>Het verbeteren van de functionaliteit van de Software.</li>
						<li>Het communiceren met gebruikers indien nodig.</li>
				</ul>
		
				<h2>3. Delen van Gegevens</h2>
				<p>Wij delen uw gegevens niet met derden, tenzij dit noodzakelijk is voor het functioneren van de Software (bijvoorbeeld hostingproviders) of indien wij daartoe wettelijk verplicht zijn.</p>
		
				<h2>4. Beveiliging</h2>
				<p>Wij nemen passende technische en organisatorische maatregelen om uw gegevens te beschermen tegen verlies of onrechtmatige verwerking.</p>
		
				<h2>5. Bewaartermijn</h2>
				<p>Wij bewaren uw gegevens niet langer dan noodzakelijk is voor de bovengenoemde doeleinden, tenzij wij wettelijk verplicht zijn deze langer te bewaren.</p>
		
				<h2>6. Uw Rechten</h2>
				<p>U heeft het recht om:</p>
				<ul>
						<li>Inzage te vragen in uw persoonsgegevens.</li>
						<li>Correctie of verwijdering van uw gegevens te verzoeken.</li>
						<li>Bezwaar te maken tegen de verwerking van uw gegevens.</li>
				</ul>
				<p>Neem hiervoor contact met ons op via <a href="mailto:support@prima-plek.nl">support@prima-plek.nl</a>.</p>
		
				<h2>7. Wijzigingen</h2>
				<p>Wij behouden ons het recht voor om deze privacyverklaring te wijzigen. Controleer deze pagina regelmatig voor updates.</p>
		
				<h2>8. Contact</h2>
				<p>Voor vragen over deze privacyverklaring kunt u contact met ons opnemen via <a href="mailto:support@prima-plek.nl">support@prima-plek.nl</a>.</p>
		</section>
		</Container>
	</main>
</Layout>