---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Controle over je <span class="text-rose-600 block decoration-double underline dark:text-rose-400">flex plekken.</span></h1>

                <a class="mb-5 flex mx-auto w-max gap-x-2 rounded-full bg-rose-900/5 p-1 pr-2 text-sm mt-10 dark:text-gray-300 text-gray-700" href="#">
                  <span class="rounded-full bg-rose-500 px-2 py-0.5 text-xs uppercase text-white">Binnenkort</span> Beschikbaar
                </a>

                <p class="mt-8 text-gray-700 dark:text-gray-300">
                  Ontdek het ruimtereserveringssysteem voor flexwerkplekken en vergaderruimten. <br /> Concentreer je op het serveren van je gasten, niet op het plannen van reserveringen. 
                </p>

                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="mailto:aanvragen@prima-plek.nl"
                      target="_blank"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Aanvragen</span
                      >
                    </a>
                    <a
                      href="#features"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Lees meer</span
                      >
                    </a>
                </div>
                <div class="py-8 mt-16 border-y border-gray-100 dark:border-gray-800 flex flex-col sm:flex-row justify-between gap-3">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Gemakkelijk</h6>
                        <p class="mt-2 text-gray-500">Gemakkelijk voor jou en je bezoekers</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Inzichtelijk</h6>
                        <p class="mt-2 text-gray-500">Inzicht in je reserveringen en bezettingen</p>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Eigen domein</h6>
                        <p class="mt-2 text-gray-500">Binnen één dag een eigen domein en omgeving</p>
                    </div>
                </div>
            </div>
            <!-- <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
              <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                <img src="./images/clients/microsoft.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
              </div>
            </div> -->
        </div>
    </Container>
</div>