---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Onze fans
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Laura Jansen</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Beheerder Flexplek café</p>
          </div>
        </div>
        <p class="mt-8"> De boekingsapplicatie is een gamechanger voor onze flexplekken. Eenvoudig, efficiënt en een boost voor de tevredenheid van onze gasten. Onmisbaar in ons dagelijks beheer!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">John Doe</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">CEO</p>
          </div>
        </div>
        <p class="mt-8">De boekingsapplicatie heeft ons proces voor het plannen van vergaderruimtes enorm vereenvoudigd!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <!-- <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy"> -->
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Jane Smith</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Kantoor Manager</p>
          </div>
        </div>
        <p class="mt-8">Intuïtieve interface en uitstekend inzicht in bezetting en arrangementen. Een absolute aanrader!"</p>
      </div>
    </div>
  </Container>
</div>